/* About */
.padding-about {
    padding-top: 50px;
    padding-bottom: 140px;
}

.about-img {
    text-align: center;
    max-height: 450px;
}

/* Paralax */
.padding-paralax {
    padding-bottom: 150px;
}

/* Content Music */
.content-music-title h2,
.post-meta {
    text-align: center;
}

.paragraph {
    text-align: justify;
}

.button-content{
    background-color: black !important;
    color: white !important;
    margin-top: 60px;
    width: 300px;
}

.button-content:hover{
    background-color: white !important;
    color: black !important;
}

/* Footer */
.footer-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .title-about
    {
        margin-top: 40px !important;
    }
}

@media screen and (max-width: 767px) {
    .title-about
    {
        margin-top: 80px !important;
    }

    .padding-about {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}